<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Hello HTML</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="/client.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body style="margin: 1em;">
		<h1>Fake Medicare Beneficiary Identifier</h1>
    <form class="needs-validation" novalidate>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="firstName">First name</label>
          <input type="text" class="form-control" id="firstName" value="" required>
          <div class="invalid-feedback">
            First Name required
          </div>      
        </div>
      </div>
      <div class="form-row">    
        <div class="col-md-4 mb-3">
          <label for="lastName">Last name</label>
          <input type="text" class="form-control" id="lastName" value="" required>
          <div class="invalid-feedback">
            Last Name required
          </div>            
        </div>
      </div>
      <div class="form-row">    
        <div class="col-md-4 mb-3">
          <label for="dateOfBirth">Date of Birth</label>
          <div class="input-group">
            <input type="date" class="form-control" id="dateOfBirth" aria-describedby="inputGroupPrepend" required>
            <div class="invalid-feedback">
              Date of Birth Required.
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="ssn">Social Security Number</label>
          <input type="text" class="form-control" id="ssn"
                pattern="^(\d{9}|\d{3}-\d{2}-\d{4})$"
                required>
          <div class="invalid-feedback">
            Please provide a valid social security number.
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Lookup</button>
    </form>
	</body>
</html>